.nav ul {
  display: flex;
  width: 100px;
  height: 600px;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(227, 40, 62, 0.09) 0%, rgba(255, 255, 255, 0) 50%, rgba(227, 40, 62, 0.05) 100%), #111111;
  box-shadow: 5px 3px 14px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}
.nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #eee;
  font-size: 1.5rem;
}
.nav ul li a {
  color: #eee;
}

.form-sor {
  min-width: 300px;
  min-height: 200px;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  color: #eee;
}
.form-sor input[type=text] {
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  background: radial-gradient(50% 50% at 50% 50%, rgba(227, 40, 62, 0.16) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(50% 50% at 50% 50%, #333333 0%, #111111 100%);
}
.container .sor-1 {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .sor-1 .resultado-1 {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.97);
  color: #eee;
  padding: 1vw;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 9999;
}
.container .sor-1 .resultado-1 .btn {
  margin-top: 20px;
  font-size: 1rem;
  height: 40px;
  width: 80px;
}
.container .sor-1 .num1 {
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #e63b3b;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.container .sor-2 {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .sor-2 .resultado-2 {
  display: none;
  flex-flow: column;
  position: absolute;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.97);
  color: #eee;
  padding: 1vw;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 9999;
}
.container .sor-2 .resultado-2 .btn {
  align-self: center;
  margin-top: 20px;
  font-size: 1rem;
  height: 40px;
  width: 80px;
}
.container .sor-2 .num2 {
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: gold;
  font-weight: bold;
  color: #111;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

input[type=button], button {
  cursor: pointer;
}

.btn {
  border: 0;
  color: #eeeeee;
  font-weight: bold;
  font-size: 1.4rem;
  min-height: 60px;
  min-width: 150px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #AB1F2F;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
body input, body button {
  font-family: "Montserrat Alternates", sans-serif;
}
body a {
  text-decoration: none;
}
body hr {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

table {
  text-align: center;
  display: flex;
}
table tr {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
table tr td {
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0.5vh;
}
table .num1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #e63b3b;
}
table .num2 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: gold;
  font-weight: bold;
  color: #111;
}

.sor-1 .bolillero-1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
}
.sor-1 .bolillero-1 .bolillero {
  position: absolute;
  left: calc(50% - 170px/2 );
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.sor-1 .bolillero-1 .bolillero .lens {
  position: absolute;
  border-radius: 100%;
  z-index: 999;
  width: 191px;
  height: 191px;
  left: calc(50% - 560px/2 + 32.5px);
  top: calc(50% - 191px/2 - 3.5px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(221.44deg, #DDDDDD 10.35%, rgba(221, 221, 221, 0.770833) 11.41%, rgba(221, 221, 221, 0.65625) 12.9%, rgba(221, 221, 221, 0.390625) 13.75%, rgba(255, 255, 255, 0) 30.79%), radial-gradient(53.62% 53.62% at 50.07% 49.93%, rgba(204, 204, 204, 0) 0%, rgba(218, 218, 218, 0.0516177) 35.42%, rgba(229, 229, 229, 0.09) 58.33%, rgba(215, 215, 215, 0.17) 80.21%, rgba(255, 255, 255, 0.33) 91.15%, rgba(193, 193, 193, 0) 100%, rgba(255, 255, 255, 0.77) 100%);
  animation-name: bolillero;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 100%;
  z-index: 999;
  width: 191px;
  height: 191px;
  left: calc(50% - 560px/2 + 32.5px);
  top: calc(50% - 191px/2 - 3.5px);
  background: transparent;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls {
  display: none;
  position: absolute;
  top: 25px;
  right: 60px;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 20px;
  width: 20px;
  color: #ccc;
  font-size: 10px;
  background-color: red;
  border-radius: 100%;
  background: radial-gradient(20.07% 23.04% at 33.04% 32.5%, rgba(255, 255, 255, 0.89) 0%, rgba(255, 255, 255, 0) 81.64%), linear-gradient(134.61deg, #F4E6E6 13.25%, #CB8F8F 24.72%, #C25656 37.01%, #A83636 50.12%, #732323 60.37%, #7A1F1F 74.71%, #350B0B 91.91%);
  box-shadow: inset 46px 30px 40px rgba(255, 255, 255, 0.35);
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(1) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 60px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(2) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(3) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 60px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(4) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(5) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 90px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(6) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 70px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(7) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 100px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(8) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 80px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(9) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 .bolillero .bolillas-content .balls label:nth-of-type(10) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 50px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.sor-1 .bolillero-1 button {
  position: absolute;
  width: 120px;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 360px/2 - 30px);
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #AB1F2F;
  border-radius: 10px;
  border: 0;
  color: #fff;
}
.sor-1 .tubo {
  position: absolute;
  width: 38px;
  height: 200px;
  z-index: 9;
  left: calc(50% - 420px/2 + 40px);
  top: calc(50% - 191px/2 - 12.5px);
  background: linear-gradient(270deg, rgba(187, 187, 187, 0.28) -57.2%, rgba(170, 170, 170, 0) 100%), radial-gradient(68.45% 68.45% at 50% 50%, rgba(170, 170, 170, 0) 0%, rgba(170, 170, 170, 0.15) 86.46%, rgba(170, 170, 170, 0.13) 90.1%, rgba(187, 187, 187, 0.14) 100%);
  border-radius: 0px 0px 0px 140px;
  border-radius: 0px 0px 0px 140px;
}
.sor-1 .base {
  position: absolute;
  top: calc(50% - 160px/2 + 150px);
  left: calc(50% - 320px/2 - 90px);
  height: 50px;
  width: 200px;
  background-color: #111;
  box-shadow: 5px 0px 10px 0px rgba(3, 3, 3, 0.5);
  z-index: 9;
}
@keyframes balls {
  0% {
    top: calc(50% - 30px/2 + 135px);
    filter: blur(0px);
    opacity: 0.2;
  }
  50% {
    filter: blur(0.5px);
    opacity: 1;
  }
  100% {
    top: calc(50% - 30px/2 + 05px);
    filter: blur(1px);
    opacity: 0.1;
    transform: rotate(180deg);
  }
}
@keyframes bolillero {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.sor-2 .bolillero-2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 250px;
  width: 300px;
}
.sor-2 .bolillero-2 .bolillero {
  position: absolute;
  left: calc(50% + 160px/2 );
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.sor-2 .bolillero-2 .bolillero .lens {
  position: absolute;
  border-radius: 100%;
  z-index: 999;
  width: 191px;
  height: 191px;
  left: calc(50% + 160px/2 + 32.5px);
  top: calc(50% - 191px/2 - 3.5px);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(221.44deg, #DDDDDD 10.35%, rgba(221, 221, 221, 0.770833) 11.41%, rgba(221, 221, 221, 0.65625) 12.9%, rgba(221, 221, 221, 0.390625) 13.75%, rgba(255, 255, 255, 0) 30.79%), radial-gradient(53.62% 53.62% at 50.07% 49.93%, rgba(204, 204, 204, 0) 0%, rgba(218, 218, 218, 0.0516177) 35.42%, rgba(229, 229, 229, 0.09) 58.33%, rgba(215, 215, 215, 0.17) 80.21%, rgba(255, 255, 255, 0.33) 91.15%, rgba(193, 193, 193, 0) 100%, rgba(255, 255, 255, 0.77) 100%);
  animation-name: mega;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 100%;
  z-index: 999;
  width: 191px;
  height: 191px;
  left: calc(50% + 160px/2 + 32.5px);
  top: calc(50% - 191px/2 - 3.5px);
  background: transparent;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls {
  display: none;
  position: absolute;
  top: 25px;
  right: 60px;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 20px;
  width: 20px;
  color: #ccc;
  font-size: 10px;
  background-color: red;
  border-radius: 100%;
  background: radial-gradient(20.07% 23.04% at 33.04% 32.5%, rgba(255, 255, 255, 0.89) 0%, rgba(255, 255, 255, 0) 81.64%), linear-gradient(134.61deg, #F4E6E6 13.25%, #CB8F8F 24.72%, #C25656 37.01%, #A83636 50.12%, #732323 60.37%, #7A1F1F 74.71%, #350B0B 91.91%);
  box-shadow: inset 46px 30px 40px rgba(255, 255, 255, 0.35);
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(1) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 60px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(2) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(3) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 60px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(4) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(5) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 90px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(6) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 70px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(7) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 100px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(8) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 80px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(9) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% - 30px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 .bolillero .bolillas-content .balls label:nth-of-type(10) {
  position: absolute;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 50px/2 - 30px);
  animation-name: balls;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
.sor-2 .bolillero-2 button {
  position: absolute;
  width: 120px;
  top: calc(50% - 40px/2 + 145px);
  left: calc(50% + 360px/2 - 30px);
  height: 50px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #AB1F2F;
  border-radius: 10px;
  border: 0;
  color: #fff;
}
.sor-2 .tubo {
  position: absolute;
  width: 38px;
  height: 200px;
  z-index: 9;
  left: calc(50% + 300px/2 + 40px);
  top: calc(50% - 191px/2 - 12.5px);
  background: linear-gradient(270deg, rgba(187, 187, 187, 0.28) -57.2%, rgba(170, 170, 170, 0) 100%), radial-gradient(68.45% 68.45% at 50% 50%, rgba(170, 170, 170, 0) 0%, rgba(170, 170, 170, 0.15) 86.46%, rgba(170, 170, 170, 0.13) 90.1%, rgba(187, 187, 187, 0.14) 100%);
  border-radius: 0px 0px 0px 140px;
  border-radius: 0px 0px 0px 140px;
}
.sor-2 .base {
  position: absolute;
  top: calc(50% - 160px/2 + 150px);
  left: calc(50% + 400px/2 - 90px);
  height: 50px;
  width: 200px;
  background-color: #111;
  box-shadow: 5px 0px 10px 0px rgba(3, 3, 3, 0.5);
  z-index: 9;
}
@keyframes balls {
  0% {
    top: calc(50% - 30px/2 + 135px);
    filter: blur(0px);
    opacity: 0.2;
  }
  50% {
    filter: blur(0.5px);
    opacity: 1;
  }
  100% {
    top: calc(50% - 30px/2 + 05px);
    filter: blur(1px);
    opacity: 0.1;
    transform: rotate(180deg);
  }
}
@keyframes mega {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=styles.css.map */
